#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

img {
	border-radius: 100%;
	width: 40px;
}

.nav-user {
	display: flex;
	align-items: center;
	margin-top: 8px;
	gap: 8px;
	justify-content: center;
}

.input {
	border-radius: 8px;
	padding: 4px 8px;
}

button {
	border-radius: 8px;
	border: none;
	padding: 4px 12px;
	background-color: #646cff;
	color: white;
}

button:hover {
	background-color: #535bf2;
}

button:active {
	background-color: #464dd3;
}
